.footer
  span ©️2019-#{new Date().getFullYear()} All rights reserved. Designed By&nbsp;
    strong
      a(href='https://github.com/random-yang') RandomYang
    |  and Powered By&nbsp;
    strong
    a(href='https://hexo.io') hexo
